- content_for :navigation do
  = link_to 'New lyric', new_object_path 


%h1 Lyrics

%h3{:style => 'color:red'}= flash[:message]

= render :partial => 'lyric', :collection => current_objects

= will_paginate(@current_objects)