= render :partial => 'artist', :collection => @current_objects

= will_paginate(@current_objects)

- content_for :sidebar do
  = alphabetical_browser('artists')

- content_for :navigation do
  %h1 Tools:
  = link_to 'New artist', new_object_path 
