a {
  font-decoration: none;
  color: #0000AA; }

a visited {
  color: #000077;
  font-decoration: line-through; }

#hd {
  font-family: sans-serif;
  color: white;
  background-color: #000088; }
  #hd h1 {
    font-size: 200%;
    text-transform: uppercase; }
  #hd h4 {
    font-style: italic; }

#bd p .body {
  border-style: dashed;
  border-width: 2px;
  background-color: #999944; }
