a {
  font-decoration: none;
  color: #0000AA; }

a visited {
  color: #000077;
  font-decoration: line-through; }

#hd {
  font-family: sans-serif;
  color: white;
  background-color: #000088;
  padding: 0em 0em 1em 1em; }
  #hd h1 {
    font-size: 200%;
    text-transform: uppercase; }
    #hd h1 a {
      color: white; }
  #hd h4 {
    font-style: italic; }

#bd p .body {
  border-style: dashed;
  border-width: 2px;
  background-color: #999944; }

.lyric .information, .lyric #seealso {
  float: right; }
.lyric .information {
  background: #99B;
  border: 1px solid black;
  color: white !important;
  padding: 1em; }
  .lyric .information a {
    color: white; }
  .lyric .information .title {
    font-weight: bold; }
  .lyric .information .album {
    font-style: italic; }

.artist h1 {
  font-size: 150%;
  font-weight: bold; }
.artist #listing {
  margin-top: 1em;
  background: #99B;
  border: 1px solid black;
  color: white !important;
  padding: 0em 2em 0em 2em; }

#toolbar {
  background: #000088;
  border: 2px solid black;
  color: grey;
  margin-top: 1em;
  padding: .5em; }
  #toolbar a {
    color: white; }
